<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body>
<meta charset="UTF-8">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark" >
    <div class="container">
      <a class="navbar-brand" href="#">Bot Server</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> </ul>
      </div>
    </div>
  </nav>
 <br><br>

 <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form class="" action="/api/login" method="post">
              <h1>Login</h1><br>
              {{message}}
            <div class="form-group">
              <label>Username</label>
              <input type="username" name="username" class="form-control" placeholder="Enter admin username">
            </div>
            <div class="form-group">
              <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password"> </div>
              <label>Area</label>
              <input type="area" name="area" class="form-control" placeholder="Area"> </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
              </div>
      </div>
</div>
</body>
</html>
